/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */


body {
  background-color: #F3DFC9; 
  color: #8F5B34;
  font-family: Georgia;
  font-size: 22px;
  margin: 25px;
  padding-right: 25px;
  padding-right:
}

h1 {
  background-color: #8D9B6A;
  color: #FFFFFF;
  font-style: bold;
  font-size: 60px;
  text-align: center;
  padding: 25px;
}

img {
  float: right;
}

h2 {
  background-color: #8D9B6A;
  display: inline-block;
  width: 850px;
  height: 50px;
  color: #FFFFFF;
  font-style: bold;
  font-size: 36px;
  text-align: center;
}

a {
  color: #8A9EA7;
  font-size: 20px;
}

a:hover {
  color: #593E31;
}

ul {
  background-color: #F3DFC9;
}
